# VisualStudio files which should be ignored #
##############################################
*.filters
*.user
Debug

# Picture samples should be ignored #
#####################################
*.png
*.bmp

