#Because doxygen is HTML documentation i have to manualy change my repo language#
#################################################################################

* linguist-vendored
*.cpp linguist-vendored=false